In [ ]:
aylar = [['January', 31], ['February', 28], ['March', 31], ['April', 30], \
         ['May', 31], ['June', 30], ['July', 31], ['August', 31], \
         ['September', 30], ['October', 31], ['November', 30], ['December', 31]]
#print(aylar, end = "")
kis = ["December", "January", "February"]
ilkbahar = ["March", "April", "May"]
yaz = ["June", "July", "August"]
sonbahar = ["September", "October", "November"]

aylar[4]

yaz[0]

'June'

In [ ]:
scores = [98, 87, 78, 86, 68, 94, 76, 97 ,56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]
a = len(scores)
scores.sort()
print(scores)
b = scores[a-1]
c = scores.index(b)
a - c

[56, 68, 69, 73, 76, 76, 78, 79, 82, 86, 87, 87, 90, 93, 94, 97, 97, 98, 98, 98]

3

In [ ]:
 names = ["David", "Michael", "John", "James", "Greg", "Mark", "William", 
          "Richard", "Thomas", "Steven", "Mary", "Susan", "Maria", "Karen", 
          "Lisa", "Linda", "Donna", "Patricia", "Debra", "Eric"]

 scores = [99, 87, 78, 86, 68, 94, 76, 97, 56, 98, 76, 87, 79, 90, 73, 93, 82, 69, 97, 98]

 name = str(input("Enter the name of student : "))
 sira = names.index(name)
 ogr_notu = scores[sira]
 ogr_notu

Enter the name of student : Eric

98

In [ ]:
my_list = [34, 56, 76, 45, 2, 12, 67, 98, 37, 54, 66]
my_list.sort()
a = len(my_list)
b = int(my_list[0])
c = int(my_list[a-1])
b + c

100

In [ ]:
a = str(input("Üç rakamlı bir sayı giriniz : "))
rakam = int(a[0]) + int(a[1]) + int(a[2])
print("Girilen sayının rakam değerleri toplamı : ", str(rakam))

Üç rakamlı bir sayı giriniz : 356
Girilen sayının rakam değerleri toplamı :  14

In [ ]:
name = "Anıl"
sname = "Anlargu"
yas = 36
metin = "Benim adım %s %s. Yaşım %d"
print(metin %(name, sname, yas))

Benim adım Anıl Anlargu. Yaşım 36