In [ ]:
my_tuple = tuple(range(1,11))
my_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
sentence = "I am 40 years old.{} I have two children.{} Data Science is my IT domain.".format("\n\t", "\n\t\t")

print(sentence)

I am 40 years old.
	 I have two children.
		 Data Science is my IT domain.

In [ ]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
print(student_ages["Clark"])

32

In [ ]:
print(len(set('listen to the voice of enlisted')))

13

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
text = "My two favorite flowers are {} and {}, two favorite colors are {} and {}." \
.format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1])
print(text)

My two favorite flowers are tulip and rose, two favorite colors are blue and green.